<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="App/Templates/wamp/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="App/Templates/wamp/bootstrap/css/junio.css">
  <!-- Social Buttons CSS -->
  <link href="App/Templates/wamp/bootstrap-social-gh-pages/assets/css/bootstrap.css" rel="stylesheet">
  <link href="App/Templates/wamp/bootstrap-social-gh-pages/assets/css/font-awesome.css" rel="stylesheet">
  <link href="App/Templates/wamp/bootstrap-social-gh-pages/assets/css/docs.css" rel="stylesheet" >

  <link href="App/Templates/wamp/bootstrap-social-gh-pages/bootstrap-social.css" rel="stylesheet" >
  
  <script src="jquery.min.js"></script>
  <script src="App/Templates/wamp/bootstrap/js/bootstrap.min.js"></script>

  <title>Login do Sistema</title>
</head>

<body>
  <!-- Header -->
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" target="newwindow" href="http://pablo.blog.br/book">PHP Programando com Orientação a Objetos</a>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /Header -->

    <!-- Main -->
    <div class="container">
        <!-- upper section -->
        <div class="row">
            <div class="col-sm-4">
            </div>
            <!-- /span-3 -->
            <div class="col-sm-3"  style="/*background-color:red;">

                <!-- column 2 -->
                <h3><i class="glyphicon glyphicon-edit"></i>{class}</h3>

                <hr>

                <div class="row">
                    <!-- center left-->
                    <div class="col-sm-12" style="/*background-color:blue;">
                       {content}
                    </div>
                    <!--/col-->
                </div>
                <!--/row-->
            </div>
            <!--/col-span-9-->

        </div>
        <!--/row-->
        <!-- /upper section -->

    </div>
    <!--/container-->
    <!-- /Main -->

</body>
</html>